<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="brodBroker" type="Brod.Brokers.BrokerConfigurationSection, Brod"/>
  </configSections>
  <brodBroker>
    <!-- 
      The directory under which to store message files. Will be created, if not already exists.
      Brod should have read/write permissions for this folder.
    -->
    <storageDirectory>c:\tmp\brod</storageDirectory>

    <!-- 
      The id of the broker. This must be set to a unique integer for each broker. 
    -->
    <brokerId>0</brokerId>

    <!-- 
      Hostname the broker will advertise to producers and consumers.
      If not set, Brod will use the value returned from Dns.GetHostName()
    -->
    <hostName></hostName>
    
    <!-- 
      Primary port, broker listens on. Use this port to establish connection with Broker.
    -->
    <port>5567</port>

    <!-- 
      Port, that accepts only oneway (unidirectional) requests.
    -->
    <pullPort>5568</pullPort>

    <!-- 
      The default number of logical partitions per topic per server.
    -->
    <numberOfPartitions>1</numberOfPartitions>

    <!-- 
      Configure number of partitions per topic, overriding default numberOfPartitions 
    -->
    <!--
    <numberOfPartitionsPerTopic>
      <add topic="important" partitions="1"/>
      <add topic="commands" partitions="2"/>
      <add topic="events" partitions="4"/>
      <add topic="email" partitions="5"/>
    </numberOfPartitionsPerTopic>
    -->
  </brodBroker>
</configuration>