<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="brodBroker" type="Brod.Configuration.BrokerConfigurationSection, Brod"/>
  </configSections>
  
  <brodBroker>
    <!-- The directory under which to store message files -->
    <storageDirectory>c:\tmp\brod</storageDirectory>
    
    <!-- Port to which producers will connect -->
    <producerPort>5567</producerPort>

    <!-- Port to which consumers will connect -->
    <consumerPort>5568</consumerPort>

    <!-- The default number of logical partitions per topic per server -->
    <numberOfPartitions>1</numberOfPartitions>

    <!-- Configure number of partitions per topic, overriding default numberOfPartitions -->
    <!--
    <numberOfPartitionsPerTopic>
      <add topic="important" partitions="1"/>
      <add topic="commands" partitions="2"/>
      <add topic="events" partitions="4"/>
      <add topic="email" partitions="5"/>
    </numberOfPartitionsPerTopic>
    -->
  </brodBroker>
</configuration>